svg {
    position: relative;
    left: 5mm;
    top: 5mm;
}

svg:not(svg:last-child) {
    page-break-after: always;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

line.outer {
    stroke-width: 0.2mm;
    stroke: #000;
}

line.inner {
    stroke: #888;
    stroke-width: 0.1mm;
    stroke-dasharray: 3 2;
}

text {
    font-family: 'Times New Roman';
    font-size: 14px;
    dominant-baseline: middle;
    text-anchor: middle;
}

text.model-no {
    font-size: 12px;
}

text[text-anchor="start"] {
    text-anchor: start;
}

text[text-anchor="end"] {
    text-anchor: end;
}